<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="./DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"> -->
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Game Developers Help List</title>
<style>
</style>
<script>
  $(document).ready(function () {
    $('#makers').dataTable({});
    $('input').val(decodeURIComponent(location.search.substr(3, location.search.length))).keyup();
  });
</script>
</head>
  <body>
    <div class='container'>
      <div class="page-header col-xs-12">
        <h1>Game Developers Help List</h1>
      </div>
      <div class="row">
        <div class="well col-med-12">
          <p><small>Sort, Search, and Connect with the developers who want to help you.</small></p>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive col-xs-12">
          <table id="makers" class="table table-striped table-hover table-bordered col-xs-12">
            <thead>
              <tr>
                <th> Twitter </th>
                <th> Name    </th>
                <th> Tags ("Whatchoo good for?") </th>
            </thead>
            <tbody>
              <% rows.each do |row| %>
                <tr>
                  <td><%= row.name %></td>
                  <td><a href="http://twitter.com/<%= row.twitter[0] == "@" ? row.twitter[1..-1] : row.twitter %>"><%= row.twitter %></a></td>
                  <td>
                    <ul>
                      <% row.tags.map(&:strip).each do |tag| %>
                        <li><a href="index.html?q=<%= tag %>"><%= tag %></a></li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
